body {
    margin: 0;
    background-color: #d1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
  }
  
  .main-wrapper {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 23px 0;
  }
  
  .video-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }